version: 2.1

jobs:
  setup:
    docker:
      - image:  anasty17/mltb:latest
    resource_class: large
      environment:
          ENV: CI
          
    steps:
      - checkout
      - run:
          name: "setup"
      command: | 
                apt update && apt install wget sudo curl python3 python3-pip apt-utils git zip unzip curl tar -y
                wget https://raw.githubusercontent.com/weebzone/WZML/master/requirements-cli.txt -O requirements-cli.txt
                wget https://raw.githubusercontent.com/weebzone/WZML/master/requirements.txt -O requirements.txt
                pip3 install --no-cache-dir -r requirements-cli.txt
                pip3 install --no-cache-dir -r requirements.txt
                pip3 install megasdkrestclient    
     
  run:
     steps:
      - checkout
      - run:
          name: "run"
      command: | 
                bash start.sh
    

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  say-hello-workflow:
    jobs:
      - setup
      - run
