version: 2.1

jobs:
  say-hello:
    docker:
      - image: anasty17/mltb:latest
        environment:
          ENV: CI
    steps:
      - checkout
      - run:
          name: "setup"
          command: | 
                apt update && apt install wget sudo curl python3 python3-pip apt-utils git zip unzip curl tar mediainfo -y
                wget https://raw.githubusercontent.com/weebzone/WZML/master/requirements-cli.txt -O requirements-cli.txt
                wget https://raw.githubusercontent.com/weebzone/WZML/master/requirements.txt -O requirements.txt
                pip3 install --no-cache-dir -r requirements-cli.txt
                pip3 install --no-cache-dir -r requirements.txt
                pip3 install megasdkrestclient
                playwright install chromium
                playwright install-deps
                curl -fsSL https://get.docker.com -o temp.sh
                sh temp.sh
                rm -rf temp.sh
      
      - run:
          name: "update"
          no_output_timeout: 190m
          background: true
          command: |
                export PYTHONUNBUFFERED=1
                bash update.sh

      - run:
          name: "run"
          no_output_timeout: 190m
          command: |
                export PYTHONUNBUFFERED=1
                bash start.sh
      
      - run:
          name: "Cancel build after set time"
          no_output_timeout: 190m
          background: true
          command: |
                sleep 59m
                export PYTHONUNBUFFERED=1
                echo "Canceling workflow as too much time has elapsed"
                curl -X POST --header "Content-Type: application/json" "https://circleci.com/api/v2/workflow/${CIRCLE_WORKFLOW_ID}/cancel?circle-token=${CIRCLE_TOKEN}" 

workflows:
  setup-workflow:
    jobs:
      - say-hello
